.note__main-content {
  display: flex;
}

.note__sidebar {
  background-color: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.note_sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.note_sidebar-navbar h3 {
  font-weight: lighter;
}

.note__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  transition: color .3s ease;

  &:hover {
    color: darken(white, 20);
  }
}

.note__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: scroll;
}

.note__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-gray;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.note__entry-picture {
  height: 75px;
  width: 75px;
}

.note__entry-body {
  padding: 10px;
}

.note__entry-title {
  font-size: 14px;
  font-weight: bold;
}

.note__entry-content {
  font-size: 10px;
}

.note__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.note__entry-date-box span{
  font-size: 12px;
}
