.note__main-content {
  display: flex;
}

.note__sidebar {
  background-color: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.note_sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.note_sidebar-navbar h3 {
  font-weight: lighter;
}

.note__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;

  transition: color .3s ease;

  &:hover {
    color: darken(white, 20);
  }
}
